######################
# Visual Studio Code
######################
.vscode/

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

######################
# Logs
######################
*.log

######################
# UML
######################
Diagramas_UML/*.zargo~

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/
/target/

######################
# Gradle
######################
.gradle/
/build/