log/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.ids
*.orig

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Folder config file ###
Desktop.ini

### Mac OSX ###
.DS_Store
.svn

### Thumbnails ###
._*

### Logs ###
*.log

### UML ###
Diagramas_UML/*.zargo~

### Gradle ###
.gradle/
/build/

### ESOF presentation ###
Apresentacao_ESOF/
